export(changeMethodCode)
export(changeMethodConfig)
export(data.path)
export(fullChangeOfMethods)
export(getStudyNames)
export(grepPosition)
export(loadStudy)
export(mashData)
export(mashrDetail)
export(readDataProcessed)
export(replaceMethod)
export(validateConfig)
export(validateStudy)
import(plyr)
import(testthat)
importFrom(bibtex,read.bib)
importFrom(bibtex,write.bib)
